@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #23272f!important;
}
h1{
  display: none;
}
:root{
  --basico:#FFFFFF;
  --color1:#23272f;
  --color2:#343944;
  --color3:#374151;
  --color4:#149eca;
  --color5:rgba(105, 199, 230, 0.308);
  --color6:rgba(92, 96, 102, 0.87);
  --color7:#32c2f1;

  --font1:'Sigmar';
}

